* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

table {
  width: 70%;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}

.tabel th {
  padding: 20px;
  border: solid black;
}
.tabel td {
  padding: 10px;
  border: solid black;
}

.tabel th {
  background-color: #4caf50;
  font-size: 1.1em;
}

.tabel td {
  font-size: 1em;
}

